<!-- reset-expirado.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password - Expirado</title>
</head>
<body>
  <h1>Enlace Expirado</h1>
  <p>El enlace de restablecimiento ha expirado.</p>
  <p>Haz clic en el siguiente botón para generar un nuevo correo de restablecimiento.</p>
  <form action="/regenerar-correo" method="post">
    <button type="submit">Generar Nuevo Correo</button>
  </form>
</body>
</html>
